[color]
	branch = auto
	diff = auto
	status = auto
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = yellow
	changed = green
	untracked = cyan
[merge]
	ff = no
[user]
	email = bronislaw.szulc@workleap.com
	name = Bronek Szulc
[alias]
	co = checkout
[apply]
	whitespace = nowarn
[fetch]
  prune = true
[pull]
	rebase = true
[core]
	editor = vim
